@model IEnumerable<PizzaApp.DataAccess.UserAddress>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvidenceState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountryAbrev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddressNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvidenceState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostalCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountryAbrev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserAddressNavigation.FirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserAddressId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserAddressId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserAddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
